@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&family=Poppins&family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    font-family: 'Space Mono', monospace;
    height: 80px;
    display: flex;
    background-color: #5085A5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 90%;
    background-color: #5085A5;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.logo a {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    text-decoration: 0;
    margin-right: 5px;

}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {

    margin: 0 15px;
}

.menu a {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: 0;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #1b1b1b;
    background: #fff;

}

.btn-menu {
    visibility: hidden;
}

.login-container {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.login-container.active {
    visibility: visible;
}

.login-container .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.login-container form {
    margin-top: -20px;
}

.login-container form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input {
    height: 100%;
    width: 90%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid lightgrey;
}

.login-container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 35px;
}

.login-container .close-btn:hover {
    color: #659DBD;
}

form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: #5085A5;
}

form .btn button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

form .forgot-pas {
    margin-left: -8px;
}

form .forgot-pas a {
    color: #659DBD;
    text-decoration: none;
}

form .forgot-pas a:hover {
    text-decoration: underline;
}

form .form-change-link {
    text-align: center;
}

form .form-change-link a {
    text-decoration: none;
    color: #659DBD;
}

form .form-change-link a:hover {
    text-decoration: underline;
}

.form--hidden {
    display: none;
}

.filter-window {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 30px;
    border: #fff solid 2px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.filter-window.not-active {
    display: none;
}

.filter-blocks {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    align-items: center;

}

.filter-window-mobile {
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 70px;
    padding:15px;
    border: #fff solid 2px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.filter-window-mobile .filter-block-mobile{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding:5px;
}
.filter-block-mobile .filter-block-mobile .search-mobile{
    height: 100%;
    width: 100%;
}
.filter-window-mobile .filter-block-mobile .search-mobile input {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    border: solid #5085A5 1px;
    border-radius: 25px;
    font-size: 15px;
}

.filter-blocks .filter-box {
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-blocks .filter-box .text {
    font-size: 13px;
    font-weight: bold;
    margin: -20% 15px -20px 10px;
}

.filter-blocks .filter-box input {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;;
    border: solid #5085A5 1px;
    border-radius: 25px;
    font-size: 15px;
}

.search-btn {

    display: flex;
    align-items: center;
    justify-items: right;
}
.filter-window-mobile .filter-block-mobile .search-btn-mobile{
    display: flex;
    align-items: center;
    justify-items: right;
}
.filter-window-mobile .filter-block-mobile .search-btn-mobile button{
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #5085A5;
    border-radius: 32px;
    font-size: 15px;
}
.search-btn button {
    cursor: pointer;
    border: none;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #5085A5;
    border-radius: 32px;
    font-size: 25px;

}

.search-btn button:hover {
    color: #8FC1E3;
}

.hotels-blocks {
    font-family: 'Space Mono', monospace;
    margin: 220px 0 0 40px;
    max-width: 700px;
    border: 1px lightgray solid;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);


}

.hotel-window {
    display: flex;
    justify-content: space-between;

}


img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    border-radius: 8px;
}

.hotel_window .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.hotel-window .name {
    max-width: 100%;
    font-weight: 600;
    font-size: 17px;
}

.hotel-window .rating {
    margin-top: 125px;
    max-width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06rem;
    font-size: 20px;
    text-align: center;
    justify-content: flex-start;
}

.hotel-window .rating i {
    color: #e2d810;
}

.hotel-window .price {
    margin-top: 125px;
    max-width: 100%;
    width: 100%;
    font-weight: 600;
    letter-spacing: 0.06rem;


}

@media (max-width: 944px) {
    .logo {
        display: flex;
        align-content: center;
        margin: auto;
    }

    .menu {
        position: fixed;
        left: -300%;
        top: 0;
        z-index: 13;
    }

    .menu.active {
        width: 100%;
    }

    .menu.active ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 45px;
        height: 100%;
        background: #5085A5;
        z-index: 12;
        transition: 0.3s;
    }

    .menu.active ul a {
        display: block;
        font-size: 20px;
        width: 100%;
        margin-top: 15px;
        justify-content: center;
        text-align: center;
    }

    .btn-menu {
        visibility: visible;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        background: #5085A5;
        border: none;
        margin: 15px;
        right: 0px;
        z-index: 15;

    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .btn-menu.active .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .btn-menu.active .bar2 {
        opacity: 0;
    }

    .btn-menu.active .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .filter-window {
        visibility: hidden;
    }

    .filter-window-mobile{
        visibility: visible;
    }
    .hotels-blocks{
        visibility: hidden;
    }

}
