<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>

    <!-- Ваш стили здесь  -->
    <link rel="stylesheet" href="../static/css/goods.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Delmitary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutUs">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Войти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="shop-badge">
        <h1>Макдоналдьс</h1>
        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Подробнее
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="shop-information">
                        <div class="shop-info">
                            <p>Адрес</p>
                            <p id="shop-address">Бухаретская 2</p>
                        </div>
                        <div class="shop-info">
                            <p>Средняя цена</p>
                            <p id="shop-mean-price">300 рублей</p>
                        </div>
                        <div class="shop-info">
                            <p>Длительность ходьбы</p>
                            <p id="shop-walk-duration">15 минут</p>
                        </div>
                        <div class="shop-info">
                            <p>Длительность на велосипеде</p>
                            <p id="shop-bike-duration">7 минут</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="goods mt-5">
        <h2>Товары</h2>

        <div id="goods-list">
        </div>

        <div class="good-download">
            <button class="btn btn-success download-button" id="download_button">Ещё</button>
        </div>
    </section>


    <footer>
        <p>ООО "Delmitary"</p>
        <p>Контакты</p>
        <p>Обратная связь</p>
    </footer>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Ваши js файлы здесь   -->
    <script src="../api/base.js" type="module" ></script>
    <script src="../api/goods.js"></script>

    <script>
        let parser = new GoodParser(1);
        parser.setPage();

        document.getElementById('download_button').onclick = function(event) {
            parser.setNextGoods();
        };
    </script>
</body>

</html>