/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}
  
p {
    text-align: justify;
} 

figcaption {
    font-size: 1.5rem;
}

.fa {
    padding-right: 2rem;
    font-size: 1.5rem;
    width: 1rem;
}

.fa-google {
    color: red;
}

.fa-instagram {
    color: violet;
}

footer {
    margin-top: 1rem;
}

.form-control, .search-form .btn {
    margin: 1.5rem 0.3rem;
}

.card-location {
    color: blue;
}

.price {
    font-weight: bold;
}

.card-body p {
    line-height: 0.8rem;
}

.red-star {
    color: red;
}

.reviews {
    color: gray;
}

.fa-map-marker {
    padding-right: 1.5rem;
}

.input-field input {
    margin: 0.5rem;
}

.registration-main {
    background-color: #e9ecef;
}