.booking-item {
    padding: 20px;
    border: 2px solid #4247a2;
    margin: 15px auto;
    border-radius: 7px;
}

img.img-fluid {
    width: 50%;
    padding: 25px 0px;
}

p.place-date {
    font-size: small;
}