* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px; /* устанавливает внутренние отступы/поля со всех сторон*/
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    color: #4c0f64;
    letter-spacing: 2px; /*определяет межбуквенное расстояние в тексте*/
}
.main-head{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Le_Tour_Eiffel_from_Le_Champs_de_Mars.jpg");
    height: 140vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;

}
.form{
    top: 60%;
    left: 20%;
    position: absolute;
    color: #fdfdfd;
    line-height: 1.5;
    letter-spacing: 2px;
}
.banner-text{
    top: 40%;
    left: 20%;
    position: absolute;
    color: snow;
    line-height: 1.5;
    letter-spacing: 2px;

}

.form input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
.form button {
    width: 100%;
    height: 40px;
    background: #e7d5d5;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.form button:hover {
    background: #595858;
}

.form input#TOWN {
    background-color: #333232;
    background-size: 16px 80px;
}

.form input#TOWN:focus {
    background-color: #333232;
    background-size: 16px 80px;
}

.form input#date{
    background-color: #333232 ;
    background-size: 16px 80px;
}

.form input#date:focus {
    background-color: #333232 ;
    background-size: 16px 80px;
}
.form input#number\ of\ people{
    background-color: #333232 ;
    background-size: 16px 80px;
}

.form input#number\ of\ people:focus {
    background-color: #333232 ;
    background-size: 16px 80px;
}
span{
    color: #070606;
}
