* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px; /* устанавливает внутренние отступы/поля со всех сторон*/
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    color: #4c0f64;
    letter-spacing: 2px; /*определяет межбуквенное расстояние в тексте*/
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #362746;
    border-radius: 5px;
    border-top: 5px solid #4c0f64;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #070606;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #333232 url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #333232 url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #333232 url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #333232 url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #b24ce3;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #8131cb;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #070606;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #7c1683;
}
