.placesContainer {
    margin: 70px auto;
    max-width: calc(100% - 80px);

}

.placesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
}