
.navbar { 
	width: 100%; 
	padding-top: 0;
	position: fixed;
	z-index: 1;
}
.bg-light1 {
    background-color: var(--back-color);
}
a {
	color: var(--tab-color)
}
li {
	color: var(--tab-color)
}
i {
	color: var(--tab-color)
}
.nav
{
	background: black;
}
.tm-bg-white { 
	background-color: var(--back-color1);
	border-radius: 10px;
 }
.nav-item {
	background: transparent;
	border-left: 1px solid #ccc;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    transition: all 0.5s ease;
}
/* body */
body{
	background: var(--sky-image)no-repeat;
	background-attachment: fixed;
	  background-position: center;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	padding:0;
	margin:0; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
}   
.tieude {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}
.text1 {
	width: 100rem;
	height: 36px;
	border-radius: 10 rem;
}
.container {
    padding: 5rem 1.5rem;
    margin: 0 auto;
}
.bg-1 {
	background-image:url("/lap1/img/bg-img-1.jpg");	
	height: 600px;
}
.tm-bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));;
    grid-gap: 1.5rem;
}
.hotel-img{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
	box-sizing: border-box;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.hotel-name{
    font-size: 1.7rem;
    color: #fff ;
    line-height: 2.2rem;
    padding-top: .5rem;
}
/* footer */
.footer-basic {
padding:40px 0;
background-color: var(--back-color);
color:#4b4c4d;
}

.footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
}

.footer-basic li {
	padding:0 10px;
}

.footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
}

.footer-basic ul a:hover {
	opacity:1;
}

.footer-basic .social {
	text-align:center;
	padding-bottom:25px;
}

.footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid var(--vien-color);
	margin:0 8px;
	color:inherit;
	opacity:0.75;
}

.footer-basic .social > a:hover {
	opacity:0.9;
}

.footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:var(--tab-color);
	margin-bottom:0;
}
  
/* darkandlight */
.switcher {
	position: absolute;
	top: 120px;
	right: 3%;
	margin: 0;
	margin-left: -30px;
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: none;
	position: fixed;
	z-index: 1;
}

.switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.switcher__radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: filter 0.1s ease-in;
}
.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
    border-radius: 18px;
    background-color: rgb(255 255 255 / 0.5);
    background-repeat: no-repeat;
    background-image: url(../img/status.svg);
    background-size: 32px;
    background-position: center;
    transition: background-position 0.1s ease-in;
}
.switcher__radio:focus-visible ~ .switcher__status {
    box-shadow: 0 0 0 2px black;
}

.switcher__radio--light:checked ~ .switcher__status {
    background-position: left 2px center;
}

.switcher__radio--auto:checked ~ .switcher__status {
    background-position: center center;
}

.switcher__radio--dark:checked ~ .switcher__status {
    background-position: right 2px center;
}

.switcher__radio:focus {
	outline: none;
}
.switcher__radio--light {
    background-image: url(../img/light.svg);
}
.switcher__radio--auto {
    background-image: url(../img/auto.svg);
}
.switcher__radio--dark {
    background-image: url(../img/dark.svg);
}
/*end */
  
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */
  