
.navbar { 
	width: 100%; 
	padding-top: 0;
	position: fixed;
}
.bg-light1 {
    background-color: var(--back-color);
}
a {
	color: var(--tab-color)
}
li {
	color: var(--tab-color)
}
i {
	color: var(--tab-color)
}
.nav-item {
	
	background: transparent;
	border-left: 1px solid #ccc;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    transition: all 0.5s ease;
}
.bg-1 {
	/*background-image:url(/lap1/img/bg-img-1.jpg);*/	
	background-image: var(--sky-image); 
	height: 600px;
}
.tm-bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center
}
.tm-section { min-height: 515px; }
.tm-bg-white { 
	background-color: var(--back-color);
	border-radius: 10px;
 }
.container {
	width: 100%;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.tm-search-form-row { width: 900px; }
.tm-search-form .tm-form-element { 
	padding: 0 5px; 
	text-align: center;
}
.tm-form-element { position: relative; }
.tm-form-element:last-child { margin-right: 0; }

.tm-form-element-icon {
	color: #ee5057;
	position: absolute;
	top: 10px;
	left: 15px;
	text-align: center
}
.tm-form-element-icon-small {
	top: 16px;
	left: 18px;
}
.form-control {
	border-radius: 0;
	padding: 0.6rem 0.75rem;
}
.form-control:focus {
	border-color: #ee5057;
	box-shadow: 0 0 0 0.2rem rgba(238,80,87,.25);
}
select.tm-select.form-control:not([size]):not([multiple]) { height: 100%; }

select.tm-select::-ms-expand { display: none; }

.tm-select {
    border-radius: 0;
    color: #858789;
}

.tm-search-form .form-control {
	font-size: 0.8rem;	
	padding: 0.75rem 0.75rem 0.75rem 45px;
}
/* darkandlight */
.switcher {
	position: absolute;
	bottom: 120px;
	left: 50%;
	margin: 0;
	margin-left: -30px;
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: none;
}

.switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.switcher__radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: filter 0.1s ease-in;
}
.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
    border-radius: 18px;
    background-color: rgb(255 255 255 / 0.5);
    background-repeat: no-repeat;
    background-image: url(../img/status.svg);
    background-size: 32px;
    background-position: center;
    transition: background-position 0.1s ease-in;
}
.switcher__radio:focus-visible ~ .switcher__status {
    box-shadow: 0 0 0 2px black;
}

.switcher__radio--light:checked ~ .switcher__status {
    background-position: left 2px center;
}

.switcher__radio--auto:checked ~ .switcher__status {
    background-position: center center;
}

.switcher__radio--dark:checked ~ .switcher__status {
    background-position: right 2px center;
}

.switcher__radio:focus {
	outline: none;
}
.switcher__radio--light {
    background-image: url(../img/light.svg);
}
.switcher__radio--auto {
    background-image: url(../img/auto.svg);
}
.switcher__radio--dark {
    background-image: url(../img/dark.svg);
}
/*end */
.tm-search-form .tm-form-element { width: 33.3333%; }
.tm-search-form .tm-form-element-2 { width: 25%; }
.tm-search-form-row { width: 900px; }
.tm-btn-search { width: 100%; }
.btn-primary {
	background-color: #ee5057;
	border-color: #ee5057;
	border-radius: 0;
	cursor: pointer;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 13px 30px;
	text-transform: uppercase;
}

.setting_button h2 {
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background:#ff3366;
    width: 40px;
    height: 40px;
    line-height: 1.7em;
    margin: 0 auto;
	border: 0;
	text-align: center;
}
.header-left-top{
	text-align: center;
}

/* footer */
.footer-basic {
	padding:40px 0;
	background-color: var(--back-color);
	color:#4b4c4d;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid var(--vien-color);
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */


