:root {
    --accent-color: #1b520d;
    --accent-on-hover: #184a0b;
    --background-color: #2c2e30;
    --nav-link-on-hover: #0b444a;
    --text-color: #f5f5f5;
    --accent-text: #f5f5f5;
    --form-background: #56595e;
    --form-border-color: #070b36;
    --link-color: #1672ab;
}
