body, html {
	width: 100%;
	height: 100%;
	color: black;
}

.bg-custom {
	background-color: #E9ECEF;
}

.navbar-brand .img {
	width: 100px;
	height: 50px;
	background: url("../img/logo.png") no-repeat center center;
	background-size: contain;
}

.navbar-nav li {
	padding-right: 50px;
}

.nav-link {
	font-size: 1.1em !important
}

.carousel-size {
	height: 500px;
	width: 100%;
}

.carousel-item-size, .carousel-inner img {
	width: 100%;
	height: 100%;
}

.slide1 {
	background: url("../img/slider1.jpg") top center no-repeat;
}

.slide2 {
	background: url("../img/slider2.jpg") top center no-repeat;
}

.slide3 {
	background: url("../img/slider3.jpg") top center no-repeat;
}

.slide1, .slide2, .slide3 {
	width: 100%;
	background-size: cover;
	height: 100%;
}

@media (min-width: 1100px) {
	.carousel-inner img {
		width: 100%;
	}
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
}

@media (max-width: 450px) {
	.display-2 {
		font-size: 3em;
	}
}

.jumbotron {
	padding: 1em;
	border-radius: 0;
	width: 70%;
	margin: 20px auto 0;
}

.padding {
	padding-bottom: 2em;
}

.alert {
	width: 75%;
	margin: 0 auto;
	padding-top: 2em;
}

.alert hr {
	border-top: 2px solid lightgray;
	width: 95%;
	margin-top: 0.3em;
	margin-bottom: 1em;
}

.mexicanum {
	background: url("../img/ambystoma mexicanum.png");
}

.tigrinum {
	background: url("../img/ambystoma tigrinum.png");
}

.andersoni {
	background: url("../img/ambystoma andersoni.png");
}

.mexicanum, .tigrinum, .andersoni {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
}

#fixed {
	height: 400px;
	background-blend-mode: multiply;
	background: url("../img/bg.jpg") fixed repeat;
}

#gifsBtn {
	margin-bottom: 20px;
	width: 200px;
}

#gifs img {
	width: 500px;
	max-width: 100%;
	margin-bottom: 20px;
}

@media (max-width: 750px) {
	.display-4 {
		font-size: 1.5em;
	}
}

#outline-text {
	padding: 20px 20px 20px;
	color: black;
	background-color: #E9ECEF;
}

.social a {
	font-size: 3em;
	padding: 20px;
}

.fa-telegram {
	color: cornflowerblue;
}

.fa-instagram {
	color: deeppink;
}

.fa-vk {
	color: cornflowerblue;
}

.fa-github {
	color: white;
}

.fa-telegram:hover, .fa-instagram:hover, .fa-vk:hover, .fa-github:hover {
	color: silver;
}

footer {
	background-color: black;
	padding-top: 50px;
	color: white;
}

/* регистрация и авторизация */

#signIn, #register {
	background: url("../img/bg.jpg");
	font-size: 1em;
	color: #E9ECEF;
}

#authorizationForm, #registrationForm {
	background-color: rgba(0, 0, 0, 0.8);
	width: fit-content;
}

#authorizationForm {
	height: 400px;
}

#registrationForm {
	height: 450px;
}

@media (min-width: 500px) {
	.form-group {
		width: 500px;
	}
}

@media (max-width: 450px) {
	.display-3 {
		font-size: 1em;
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #FD8D93 !important;
	background-color: #FD8D93 !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #FD8D93 !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	background-color: #E9ECEF !important;
	border-color: #E9ECEF !important;
}

#signInBtn, #registerBtn {
	float: right;
	outline-color: #FD8D93;
}

.custom-checkbox, .form-group {
	color: #FEDFDA;
}

.fa-eye-slash {
	color: #FD8D93;
}

/* личный кабинет */

#youAxolotl {
	height: 200px;
	background: url("../img/you axolotl.jpg") repeat;
}

#imgBg {
	background-blend-mode: multiply;
	background: url("../img/bg.jpg") fixed repeat;
	min-height: 60%;
}