
/* Universal styles */
html{
    line-height: 1.5rem;
    font-size: 16px;
}
.pink{
    color: #dc3545;
}
.black{
    color:black;
}
footer{
    width: 100%;
    background-color: #15323a;
    color: rgb(158, 158, 158);
}
.svg-fb{
    width:26px;
    height: 26px;
    fill: #15323a;
    border: #15323a;
    border-radius: 2px;
}
.svg-twitter{
    width: 26px;
    height: 26px;
    fill: #00acee;
}
.svg-footer-facebook{
    width:26px;
    height: 26px;
    fill: #15323a;
    border: #15323a;
    border-radius: 2px;
    margin:10px 10px 10px 0;
}
.svg-footer-twitter{
    width: 26px;
    height: 26px;
    fill: #00acee;
    margin:10px;
}
.svg-apple{
    width: 26px;
    height: 26px;
}
.svg-footer-youtube{
    width:26px;
    height: 26px;
    margin:10px;
}
.svg-footer-ig{
    width:26px;
    height: 26px;
    margin:10px;
}
/* Nav */
.logo-meetup{
    text-align: center;
    width:100px;
    box-sizing: border-box;
}
.a-nav{
    width: 8rem;
    text-align: center;
    font-size: 1rem;
}
.a-nav-2{
    width: 8rem;
    text-align: center;
    font-size: 0.9rem;
    color: black;
}
nav{
    background-color: white;
    width:100%;
    box-shadow:0 0.1rem 0.rem lightgrey;
}
.nav-search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 24px;
    height: 40px;
    outline: none;
    border:solid 1px lightgrey; 
}
.btn-toggle{
    height: 30px;
    outline: none;
    background-color: inherit;
    border:rgb(0, 0, 0);
    color: #dc3545;
}
.sections{
    width:70%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}
.footer{
    width:70%;
    height: 100%;
    margin: 0 auto;
    position: ab;
}
.form-container2{
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}
.button1{
    padding: 10px 15px;
    font-size: 1.25rem;
    line-height: 24px;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    background-color: #f65858;
    border:1px solid #f65858;
}

.button1:hover{
    opacity: 0.7;
}
.button3{
    padding: 10px;
    font-size: 1.25rem;
    line-height: 1rem;
    height: 40px;
    width: fit-content;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    color: #fff;
    fill: #fff;
    background-color: #eb3434;
    border:1px solid #eb3434;
}
.button3:hover{
    opacity: 0.7;
}
.text-viridian {
    --tw-text-opacity: 1;
    color: rgba(0,130,148,var(--tw-text-opacity));
}
/* Login & Register */
.login-background{
    z-index: -1;    
    background-image: url("/static/images/search-background.jpg") ;
    width: 100%;
    background-size: cover;
    padding: 1rem;
}
.login-logo-meetup{
    width:100px;
    height: 100px;
}
.login-icon{
    width:1.75rem;
    height: 1.75rem;
}
.login-icon-apple{
    width: 1.4rem;
    height: 1.75rem;
}
.login-or{
    color: solid #d6d6d6;
}
.login-container{
    padding: 1.75rem;
    width:45%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}
.login-button2{
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgba(0,130,148,var(--tw-text-opacity));
    padding: 8px 12px;
    font:bolder 1.75rem;

    line-height: 24px;
    height: 3rem;
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 1px #d6a6ab;
}
.register-container{
    border: 1px solid #dbdbdb;
    width: 550px;
    height: 100%;
    margin: 1rem auto;
    border-radius: 6px;
    padding: 4%;  
    box-sizing: border-box;
}
/* Search-Calendar ---------------------------------------------------*/
.search-background{
    z-index: -1;    
    background-image: url("/static/images/search-background.jpg");
    width: 100%;
    background-size: cover;
}
.wrapper{
    display: inline-flex;
    height: 45px;
    width: 300px;
    align-items: space-around;
    border-radius: 5px;
}
.wrapper .option{
    height: 45px;
    width: 100px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    color:rgb(0, 0, 0);
}
input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
    background-color: #ff5c5c;
    color: white;
}
.search-section{
    width:60%;
    height: 17rem;
    margin: 0 auto;
    position: relative;
    color: black;
}


.search-container{
    background-color: #ffd4b2;
    width: 100%;
    height: fit-content;
    border: solid 0.5px #ffd4b2;
    border-radius: 50px;
    padding: 1rem;
    margin: 0 auto ;

}
.search-box{
    border: solid 0.5px white;
    border-radius: 1.5rem;
    min-width: 24px;
    width: 300px;
    height: 45px;
    outline: none;
}
.search-button{
    background-color: #ff5c5c;
    width: 3rem;
    height: 45px;
    color: white;
    border-radius: 3rem;
    border: 1px solid #ff5c5c;
    outline: none;
}
.search-button:hover{
    opacity: 0.7;
}
.search-type-location{
    color:rgb(104, 91, 91);
}
.group-members{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: lightgray;
    border:solid 1px lightgray;
    border-radius: 5px;
    width:fit-content;
    height:fit-content;
}
.main-form{
    width:800px;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    border-top: transparent;
    border-bottom: transparent;

}
.dd-l{
    background: #fff;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    text-align: center;
}
.type-event{
    background-color: lightgray;
    padding: 1px;
    border: 0px solid;
    border-radius: 5px;
    width: 150px;
}
.search-image{
    display: inline-block;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-sizing: border-box;
}


.button2{
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 24px;
    border-radius: 8px;
    border: 3px solid rgb(158, 158, 158);
    background-color:#15323a;
    color: rgb(158, 158, 158);
}
/* Organization Page */
.mode{
    background-color: white;
}
.cards{
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}
.grid-card-1{
    padding: 0.5rem;
}
.grid-card-2{
    padding: 0.5rem;
}
@media only screen and (max-width : 1200px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width : 700px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
.he2{
    font-size: 3vmin;
    font-weight: 600;
}
.section1{
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-image: url("/static/images/section1.jpg");
    filter: blur(0.2rem);
    width: 100%;
    height:25rem;
}
.section1-text{
    color: white;
    text-shadow: 1px 1px black;
    font-size: 2.5rem;
}
.i-s{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}
.card-image{
    width: 100%;
    height:150px;
    border-radius: 5px;
}
.b4{
    background-color: #f65858;
    width: 14rem;
    height: 3rem;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #f65858;
}
.b4:hover{
    opacity: 0.8;
}
.or-i{
    max-width: fit-content;
    max-height: fit-content;

}
/* User */
.user-avatar{
    width:350px;
    height:300px;
}
.group-photo{
    width:70px;
    height:70px;
}
.b5{
    margin-right: 0.3rem;
    color:white;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem ;
    border-radius: 50%;
    width:fit-content;
    height: fit-content;
    background-color: #00455d;
}
.g-box{
    border-radius: 0.75rem;
    border:0.1rem solid;
    width:fit-content;
    height: fit-content;
    color: rgb(158, 157, 157);
    padding: 0.5rem;
}
.hiddy{
    margin-left: 0.5rem;
}
@media only screen and (max-width : 600px){
    .hiddy{
        font-size:0;
        width:0;
        margin:0;
        padding:0;
    }
}
.b6{
    margin-right: 0.3rem;
    color:white;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem ;
    border-radius: 0.5rem;
    width:fit-content;
    height: fit-content;
    background-color: #0c7ca1;
}