.shop-information {
    padding: 10px 15px;
}

.shop-information .shop-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.shop-information .shop-info p:first-child {
    font-weight: bold;
}

.good-card {
    margin-top: 40px;
}