<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>

    <!--  Пользовательский код  -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Delmitary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutUs">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Войти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="headerSection">
        <h2 class="headerTitle">Delmitary</h2>
        <p class="headerDescription">Доставим прямо до двери</p>
    </section>

    <section>
        <h2 class="sectionTitle">В чем суть?</h2>
        <p>
            Вы сможете договориться с сожителями общежития привезти товар/еду из
            ближайших магазинов за символическую плату прямо до двери
        </p>
    </section>

    <section>
        <h2 class="sectionTitle">Актуальность</h2>
        <div class="advantages">
            <div class="advantages__advantage">
                <h4>Высокие цены на доставку</h4>
                <p>Цены на курьерские доставки варьируются от 100-250р </p>
            </div>
            <div class="advantages__advantage">
                <h4>Всем хочется иметь подработку</h4>
                <p>Студентам будет приятно иметь небольшой заработок, не уходя далеко от места жительства</p>
            </div>
            <div class="advantages__advantage">
                <h4>Минимум затрат на время</h4>
                <p>Ведь доставлять нужно своим же соседям и друзьям</p>
            </div>
        </div>
    </section>

    <section id="aboutUs">
        <h2 class="sectionTitle">Команда</h2>
        <div class="row team">
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/img/teammates/michil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Егоров Мичил</h5>
                        <p class="card-text">CEO, Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/img/teammates/ayta.jpg" alt="Кривошапкина Айталина">
                    <div class="card-body">
                        <h5 class="card-title">Кривошапкина Айталина</h5>
                        <p class="card-text">Manager, Designer, HTML Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../static/img/teammates/artem.jpg" alt="Иннокентьев Артем">
                    <div class="card-body">
                        <h5 class="card-title">Иннокентьев Артем</h5>
                        <p class="card-text">Mobile Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>ООО "Delmitary"</p>
        <p>Контакты</p>
        <p>Обратная связь</p>
    </footer>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Ваши js файлы здесь   -->
</body>

</html>