<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/LW1/css/booking.css">
</head>
<body>
    <header class="header">
		<div class="container">
			<nav class="nav">
				<a href="/LW1/template/index.html" class="logo">
					<img src="/LW1/images/logo1.png" alt="">
				</a>
				<div class="hamburger-menu navbar-toggler">
					<i class="fas fa-bars"></i>
					<i class="fas fa-times"></i>
				</div>
				<ul class="nav-list">
					<li class="nav-item">
						<a href="index.html" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">About</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Offers</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

    <section class="hotels">
        <div class="container">
            <h3 class="section-head">Anywhere</h3>
            <div class="grid">
                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/11.png" alt="hotel" class="hotel-img">
                        <h5 class="hotel-name">Boxberg/Oberlausitz</h5>
                        <p class="hotel-price">1.266$/night</p>
                    </a>
                </div>

                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/12.png" alt="hotel" class="hotel-img">
                        <h5 class="hotel-name">Taiwan</h5>
                        <p class="hotel-price">1.000$/night</p>
                    </a>
                </div>

                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/13.png" alt="hotel1" class="hotel-img">
                        <h5 class="hotel-name">China</h5>
                        <p class="hotel-price">1.500$/night</p>
                    </a>
                </div>

                <div class="grid-item">		
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/14.png" alt="hotel1" class="hotel-img">
                        <h5 class="hotel-name">New Yow</h5>	
                        <p class="hotel-price">960$/night</p>
                    </a>
                </div>

                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/15.png" alt="hotel" class="hotel-img">
                        <h5 class="hotel-name">Berlin</h5>
                        <p class="hotel-price">2000$/night</p>
                    </a>
                </div>

                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/16.png" alt="hotel" class="hotel-img">
                        <h5 class="hotel-name">London</h5>
                        <p class="hotel-price">1.200$/night</p>
                    </a>
                </div>

                <div class="grid-item">
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/17.png" alt="hotel1" class="hotel-img">
                        <h5 class="hotel-name">Vietnam</h5>
                        <p class="hotel-price">1.800$/night</p>
                    </a>
                </div>

                <div class="grid-item">		
                    <a href="#" class="hotel-link">
                        <img src="/LW1/images/booking/18.png" alt="hotel1" class="hotel-img">
                        <h5 class="hotel-name">Moscow</h5>	
                        <p class="hotel-price">900$/night</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-6 col-md-3 col-12 item">
					<h3 class="head-footer">About</h3>
					<ul class="list-footer">
						<li><a href="#" class="link-footer">How Airbnb works</a></li>
						<li><a href="#" class="link-footer">Newsroom</a></li>
						<li><a href="#" class="link-footer">Airbnb 2021</a></li>
						<li><a href="#" class="link-footer">Investor</a></li>
						<li><a href="#" class="link-footer">Airbnb Plus</a></li>
						<li><a href="#" class="link-footer">Airbnb Luxe</a></li>
						<li><a href="#" class="link-footer">HotelTonight</a></li>
						<li><a href="#" class="link-footer">Airbnb for Work</a></li>
						<li><a href="#" class="link-footer">Made possible by Hosts</a></li>
						<li><a href="#" class="link-footer">Careers</a></li>
						<li><a href="#" class="link-footer">Founders'Letter</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-12 item">
					<h3 class="head-footer">Community</h3>
					<ul class="list-footer">
						<li><a href="#" class="link-footer">Diversity & Belonging</a></li>
						<li><a href="#" class="link-footer">Against Discrimination</a></li>
						<li><a href="#" class="link-footer">Accessibility</a></li>
						<li><a href="#" class="link-footer">Airbnb Associates</a></li>
						<li><a href="#" class="link-footer">Host Afghan refugees</a></li>
						<li><a href="#" class="link-footer">Guest Referrals</a></li>
						<li><a href="#" class="link-footer">Gift cards</a></li>
						<li><a href="#" class="link-footer">Airbnb.org</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-12 item">
					<h3 class="head-footer">Host</h3>
					<ul class="list-footer">
						<li><a href="#" class="link-footer">Host your home</a></li>
						<li><a href="#" class="link-footer">Host an Online Experience</a></li>
						<li><a href="#" class="link-footer">Host an Experience</a></li>
						<li><a href="#" class="link-footer">Responsible hosting</a></li>
						<li><a href="#" class="link-footer">Resource Center</a></li>
						<li><a href="#" class="link-footer">Community Center</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-12 item">
					<h3 class="head-footer">Support</h3>
					<ul class="list-footer">
						<li><a href="#" class="link-footer">Our COVID-19 Response</a></li>
						<li><a href="#" class="link-footer">Help Center</a></li>
						<li><a href="#" class="link-footer">Cancellation options</a></li>
						<li><a href="#" class="link-footer">Neighborhood Support</a></li>
						<li><a href="#" class="link-footer">Trust & Safety</a></li>
					</ul>
				</div>
			</div>
			<hr>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 copyright-">
						<span class="text-copyright">Copyright © 2021 Airbnb,Inc.</span>
					</div>
					<div class="col-md-6 col-sm-12 item social copyright-menu">
						<ul>
							<li class="link-icon"><a href="#">English(US)</a></li>
							<li class="link-icon"><a href="#">RUB</a></li>
							<li class="link-icon"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
							<li class="link-icon"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
							<li class="link-icon"><a href="#"><i class="icon ion-social-snapchat"></i></a></li>
							<li class="link-icon"><a href="#"><i class="icon ion-social-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/LW1/js/main.js"></script>
</body>
</html>