.resetPasswordForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 500px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 25px;
    margin-top: 40px;
}

.inputContainer {
    height: 45px;
    width: 80%;
    margin: 20px auto auto auto;
}

.resetPasswordFormButton {
    margin: 50px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius:0  0 10px 10px;
    background: #659dbd;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.resetPasswordFormButton:hover {
    color: #b0dfe5;
}