  #body {
      font-family: 'Nunito';
      background-color: #5d8fc9;
  }

  #login-card {
      width: 350px;
      border-radius: 25px;
      margin: 150px auto;

  }

  #email {
      border-radius: 30px;
      background-color: #ebf0fc;
      border-color: #ebf0fc;
      color: #9da3b0;
  }

  #button {
      border-radius: 30px;

  }

  #btn {
      position: absolute;
      bottom: -35px;
      padding: 5px;
      margin: 0px 55px;
      align-items: center;
      border-radius: 5px"

  }

  #container {
      margin-top: 25px;
  }

  .btn-circle.btn-sm {
      width: 40px;
      height: 40px;
      padding: 2px 0px;
      border-radius: 25px;
      font-size: 14px;
      text-align: center;

      margin: 8px;
  }
