.registerForm {
    width: 410px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;

}

.closeButton {
    position: relative;
    left: 90%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 40px;
    color: black;
}

.closeButton:hover {
    color: #659dbd;
}

.inputContainer {
    height: 45px;
    width: 100%;
    margin: 25px 0;
}

.registerFormButton {
    margin: 25px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    background: #659dbd;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.registerFormButton:hover {
    color: #b0dfe5;
}

.registerForm p {
    text-align: right;
}
.errorMessage{
    text-align: left;
    color: red;
    font-size: 12px;
}
