@import "../fonts/ubuntu.css";

$font-family-base: Ubuntu, Arial, sans-serif;
$enable-responsive-font-sizes: true;

$font-size-small: 14px;
$font-size-big: 18px;

$primary: #343a40;

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
