.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    padding: 25px;
    background: #fff;
    min-width: 250px;;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}