:root {
    --main-bg-color: #212529;
    --header-text-color: #f8f9fa;
    --header-color: #212529;
    --main-text:#f8f9fa;
    --main-card-color:#212529;
    --border-color: #f8f9fa;
    --location-button-color: #1b4332;
}

