:root {
    --main-bg-color: #f8f9fa;
    --header-text-color: #212529;
    --header-color: #f8f9fa;
    --main-text:#212529;
    --main-card-color:#f8f9fa;
    --border-color: #212529;
    --location-button-color: #d8f3dc;
}
